<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Helldivers Companion Major Order Watch WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Helldivers Companion Major Order WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Helldivers Companion News WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Helldivers Companion Orders Watch WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Helldivers Companion Orders WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Helldivers Companion Planet Widget WatchExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Helldivers Companion Planet WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Helldivers Companion Watch Edition Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Helldivers Companion Watch WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Helldivers Companion WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Helldivers Companion another fucked widget fuck youExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Helldivers Companion stupid fucking test WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Helldivers Companion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Promises (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Promises (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0C99472BA2BA8F00CF7C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C1B8C0F2BAD705600944823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3321722BAC30080042F6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3321B52BAC32480042F6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3321CC2BAC34470042F6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3321E32BAC35760042F6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3DE9762BA80B3D00C95B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C587F432BA6DBB400C66643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC0AE6E2BA7F31400802D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
